@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-inter), sans-serif;
}

@theme {
	/* color */
	--color-white: hsl(0, 0%, 100%);
	--color-blue-200: hsl(224, 100%, 95%);
	--color-blue-400: hsl(220, 100%, 64%);
	--color-blue-600: hsl(228, 100%, 60%);
	--color-blue-700: hsl(228, 99%, 58%);
	--color-black: hsl(0, 0%, 0%);

	--color-bg-overlay: color-mix(in oklch, var(--color-black) 25%, transparent);

	--color-border: color-mix(in oklch, var(--color-white) 20%, transparent);
	--color-text-muted: color-mix(in oklch, var(--color-white) 85%, transparent);

	/* font size */
	--text-2xs: 0.6875rem;
	--text-fluid-3xl: clamp(2.5rem, 1.9221rem + 2.4653vw, 3.5rem);

	/* spacing and sizing */
	--spacing-fluid-6-10: clamp(1.5rem, 0.9221rem + 2.4653vw, 2.5rem);
	--spacing-fluid-6-7: clamp(1.5rem, 1.3555rem + 0.6163vw, 1.75rem);
	--spacing-fluid-6-12: clamp(1.5rem, 0.6332rem + 3.6979vw, 3rem);
	--spacing-fluid-10-12: clamp(2.5rem, 2.211rem + 1.2326vw, 3rem);
	--spacing-fluid-12-16\.5: clamp(3rem, 2.3499rem + 2.7734vw, 4.125rem);
}

@layer base {
	/* reset */
	html {
		/* Reserve scrollbar area */
		scrollbar-gutter: stable;
		/* Enable smooth scrolling for anchor links */
		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
		/* Enable keywords animations */
		interpolate-size: allow-keywords;
	}

	body {
		/* Improve text rendering */
		-webkit-font-smoothing: antialiased;
		/* hide horizontal overflow */
		overflow-x: hidden;

		@supports (overflow-x: clip) {
			overflow-x: clip;
		}
	}

	/* improve focus styles */
	:focus-visible {
		outline-offset: 3px;
	}

	/* typography */
	h1 {
		@apply font-medium text-fluid-3xl text-balance leading-fluid-12-16.5;
	}

	p {
		@apply text-[1.0625rem]/7 text-pretty;
	}
}

@utility bg-overlay {
	background-image: linear-gradient(
		to bottom,
		transparent calc(4.5rem + 1px),
		var(--color-bg-overlay) calc(4.5rem + 1px)
	);
}

@utility hover-underline {
	background:
		linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px no-repeat;
	transition: 0.5s;

	&:hover {
		@media (hover: hover) {
			--d: 100%;
		}
	}
}

@utility hamburger-transition-timing {
	@media (prefers-reduced-motion: no-preference) {
		transition:
			translate 0.5s 0.5s,
			rotate 0.5s;

		.group[aria-expanded="true"] & {
			transition:
				translate 0.5s,
				rotate 0.5s 0.5s;
		}
	}
}

@utility menu-panel-transition {
	overflow-y: hidden;

	@supports (overflow-y: clip) {
		overflow-y: clip;
	}

	@media (prefers-reduced-motion: no-preference) {
		block-size: 0;
		translate: 0 0;

		transition: all 0.5s ease-in allow-discrete;

		@media (width >= 48rem) {
			block-size: 100%;
			translate: 100% 0;
		}

		&:popover-open {
			block-size: max-content;

			transition: all 0.5s ease-out allow-discrete;

			@media (width >= 48rem) {
				block-size: 100%;
				translate: 0 0;
			}

			@starting-style {
				block-size: 0;
				translate: 0 0;

				@media (width >= 48rem) {
					block-size: 100%;
					translate: 100% 0;
				}
			}
		}
	}

	@media (prefers-reduced-motion: reduce) {
		opacity: 0;
		block-size: max-content;

		transition: all 0.4s ease allow-discrete;

		@media (width >= 48rem) {
			block-size: 100%;
		}

		&:popover-open {
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}

	&::backdrop {
		opacity: 0;

		@media (prefers-reduced-motion: no-preference) {
			transition: all 0.5s ease allow-discrete;
		}

		@media (prefers-reduced-motion: reduce) {
			transition: all 0.4s ease allow-discrete;
		}
	}

	&:popover-open::backdrop {
		opacity: 1;

		@starting-style {
			opacity: 0;
		}
	}
}

@utility loader {
	width: fit-content;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.0625rem;
	clip-path: inset(0 3ch 0 0);
	animation: loader 1s steps(4) infinite;

	&:before {
		content: "Loading...";
	}
}

@keyframes loader {
	to {
		clip-path: inset(0 -1ch 0 0);
	}
}

@utility hover-underline-2 {
	background:
		linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0) 3px
		no-repeat;
	transition:
		0.3s,
		background-position 0s 0.3s;

	&:hover {
		--d: 100%;
		--p: 100%;
	}
}

@utility no-scroll {
	overflow-y: hidden;

	@supports (overflow-y: clip) {
		overflow-y: clip;
	}
}

@utility root-scroll {
	container: root-scroll / scroll-state;
}

@utility auto-hide-header {
	/* hide header on scroll down and appear on scroll up for supported browser */
	/* header will stay sticky for unsupported browser */
	@supports (container-type: scroll-state) {
		/* Hide on scroll down */
		@container root-scroll scroll-state(scrolled: block-end) {
			translate: 0 -100%;
		}

		/* Appear on scroll back up */
		@container root-scroll scroll-state(scrolled: block-start) {
			translate: 0 0;
		}
	}
}

@utility squircle {
	corner-shape: squircle;
}

@utility wave {
	animation: wave 2s linear infinite;
}

@keyframes wave {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
